<div class="folders">
  <%if (locals.folders && folders.length > 0){ folders.forEach(folder => { %>
  <a href="/folder?name=<%=folder.name%>"
    ><%=folder.name%> (%=folder.count%>)</a
  >
  <%})}%>

  <a href="/createnewfolder">Create new folder</a>
  <div class="modal hidden">
    <form action="/create/folder" method="POST">
      <input type="text" name="folder" id="folder" />
      <input type="submit" value="Create folder" />
    </form>
  </div>
</div>
