<nav>
  <div class="headerContent">
    <div class="logoBlock">
      <img src="/icons/logo.svg" alt="logo" />
      <h3>File Uploader</h3>
    </div>
    <%if (isAuthenticated) {%>
    <p><%=user.username %></p>

    <% } %>
    <ul class="headerLinks">
      <%if (isAuthenticated) {%>
      <li><a href="/home">Home</a></li>
      <li>
        <form action="/log-out" method="post">
          <input
            type="submit"
            class="focusedButton"
            id="logOutButton"
            value="Log Out"
          />
        </form>
      </li>
      <% } else {%>
      <li><a href="/">Home</a></li>
      <li><a href="/log-in">Log In</a></li>
      <li>
        <a class="focusedButton" id="signUpButton" href="/sign-up">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
