<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <div class="landing">
        <h1>Upload & Share Your Files</h1>

        <%if (isAuthenticated) {%>
        <p>Welcome back <%=user.username %></p>
        <ul class="authButtons">
          <li><a class="focusedButton" href="/home">Home</a></li>
        </ul>
        <% } else { %>
        <p>Quickly upload, view, and manage files in one place.</p>
        <ul class="authButtons">
          <li>
            <a class="focusedButton" href="/log-in">Log In</a>
          </li>
          <li>
            <a class="focusedButton" href="/sign-up">Sign Up</a>
          </li>
        </ul>
        <% } %>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
