.authBg {
  background-color: var(--main-color);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.authBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  background-color: var(--secondary-font-color);
  width: 350px;
  height: auto;
  justify-content: center;
  border-radius: 3ch;
  padding: 2.5rem;
}

.authBlock > h3 {
  font-size: 2rem;
}

.authBlock > label {
  font-size: 1.3rem;
  font-weight: 600;
}

.authBlock > input {
  width: 200px;
  border-radius: 4ch;
  padding-left: 1rem;
}

.authBlock > input[type="submit"] {
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--secondary-font-color);
}

.authBlock > p {
  margin-top: 1rem;
}
