#logOutButton,
.folders > a {
  color: var(--main-font-color);
}

main {
  width: 100%;
}

.hidden {
  display: none !important;
}

.contentGrid {
  display: grid;
  gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, min(350px));
  padding: 1rem;
  justify-content: center;
}

.contentItem {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 2ch;
  align-items: center;
  padding: 1rem;
}
.contentItem > img,
.folder img {
  width: 120px;
  cursor: pointer;
}

.contentItem > .contentButtons {
  display: none;
}
.contentItem:hover > .contentButtons {
  display: flex;
}

.contentButtons {
  display: flex;
  align-self: center;
  padding-top: 0.5rem;
  margin-top: auto;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.contentButtons > .focusedButton {
  background-color: var(--main-color);
  color: var(--secondary-font-color);
  min-width: 100px;
}

/* Upload form */
.uploadForm,
.modal > form,
.folder > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.uploadForm {
  width: 100%;
  margin-top: auto;
}
.uploadForm input[type="file"] {
  width: 100%;
  font-size: 0.9rem;
}
.folder > form {
  height: 120px;
}

/* Modals */
.modal {
  background-color: var(--main-color);
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  border-radius: 5ch;
  padding: 2rem;
  gap: 1rem;
}
.focus {
  background-color: #00000050;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.modal form input[type="text"] {
  border-radius: 2ch;
  padding-left: 1rem;
}

/* Folder buttons */
.folder button {
  background-color: var(--secondary-color);
  border: none;
  margin-bottom: auto;
  cursor: pointer;
}

/* Add new */
.addNew {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.foldername {
  align-self: center;
}

.entry-name {
  font-weight: 800;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.goBack > a {
  background-color: var(--main-color);
  color: var(--secondary-font-color);
}
